<%- include("../partials/_navbar.ejs") %>

<h1><%=reader.title %></h1>

<% if(reader.isDoneReading && reader.numOfPages >= reader.pagesPerDay) {%>
<p>Great! you have finished Reading, keep up the good work!</p>
<%} else {%>
<p>You can do it! just few more pages!</p>
<%}%>

<h3>Book's Detail</h3>
<p>Book's title <%= reader.title%></p>
<p>number of pages read today <%=reader.numOfPages%></p>
<p>number of pages per day <%=reader.pagesPerDay%></p>



<a href="/books/<%= reader._id%>/edit">Update</a>

<form action="/books/<%= reader._id %>?_method=DELETE" method="post"><button type="submit">remove</button></form>

