<link rel="stylesheet" href="/stylesheets/profile.css" />
<%- include("../partials/_navbar.ejs") %>

<div id="profile-page">
  <div class="profile-container">
    <h1><%= user.username %>'s Profile</h1>

    <div class="profile-card">
      <img src="<%= user.picture %>" alt="Profile Picture" class="profile-picture" />

      <form action="/user/<%= user._id %>/profile" method="post" enctype="multipart/form-data" class="upload-form">
        <label for="picture" class="upload-label">Change Picture</label>
        <input type="file" name="picture" id="picture" />
        <button type="submit" class="upload-btn">Upload</button>
      </form>

<form action="/user/<%= user._id %>/username?_method=PUT" method="post">
        <label for="username" >Username</label>
        <input type="text" name="username" id="username" value="<%= user.username %>" />
        <button type="submit" class="upload-btn">Edit</button>
      </form>


      <a href="/user/<%= user._id %>/editPassword" class="password-link">Update Password</a>
    </div>
  </div>
</div>
