<link rel="stylesheet" href="/stylesheets/" />
<h1><%= user.username %> Profile </h1>


<form action="/user/<%= user._id %>/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="picture">
  <button type="submit">upload</button>
</form>

<form action="/user/<%= user._id %>/profile?_method=PUT" method="post">
  <img src="<%=user.picture%>" alt="image">
  <img src="/public/uploads/3e60081d9efc45c85aadd2eaf23137f9" alt="">
  <p><%=user.picture%></p>
</form>


<p>Username: <%= user.username %></p>

<a href="/user/<%= user._id %>/editPassword">Update Password</a>
