<h1>Edit Goal</h1>

<form action="/goals/<%= goal._id %>" method="POST">

  <label for="duration">Duration:</label>
  <select name="duration" required>
    <option value="week" <%= goal.duration === "week" ? "selected" : "" %>>Week</option>
    <option value="month" <%= goal.duration === "month" ? "selected" : "" %>>Month</option>
    <option value="year" <%= goal.duration === "year" ? "selected" : "" %>>Year</option>
  </select>
  <br />

  <label>Goal:</label>
  <input type="text" name="goal" value="<%= goal.goal %>" />
  <br />

  <button type="submit">Update Goal</button>
</form>
