<link rel="stylesheet" href="/stylesheets/diary.css" />
<%- include("../partials/_navbar.ejs") %>

<body class="index-page">

<!-- TITLE -->
<h1 class="diary-title">MY DIARY</h1>

<!-- FILTER -->
<section class="filter">
  <form action="/diary/filter" method="post" class="filter-form">
    <label for="date">Filter by Duration</label>
    <input type="date" name="date" id="date" />
    <button type="submit" class="filter-btn"><img src="../photos/search.png" alt="search" width="25" height="25" /></button>
  </form>
</section>

<!-- NEW DIARY -->
<a href="/diary/new" class="add-btn">Add New Diary</a>

<!-- DIARY LIST -->
<ul class="diary-list">
  <% diaries.forEach(diary => { %>
  <li class="list-item">
    <p><span class="info-label">Date:</span> <%= new Date(diary.date).toDateString() %></p>
    <p><span class="info-label">Mood:</span> <%= diary.mood %></p>

    <a href="/diary/<%= diary._id %>" class="details-btn">View Details</a>

    <div class="actions">

    <a href="/diary/<%= diary._id %>/edit">
      <button type="submit" class="edit"><img src="../photos/edit.png" alt="search" width="25" height="24" /></button>
    </a>
        <!-- BUTTONS -->
      <form action="/diary/<%= diary._id %>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit" class="delete-btn"><img src="../photos/delete.png" alt="search" width="25" height="25" /></button>
      </form>
    </div>
  </li>
  <% }) %>
</ul>
</body>
