<link rel="stylesheet" href="/stylesheets/tasks.css" />

<%- include("../partials/_navbar.ejs") %>




  <div class="filter-form">
    <h2>MY TASKS</h2>
<form action="/tasks/filter" method="post" id="filter">
  <label for="date"></label>
  <input type="date" name="date" id="date-filter" />
  <button type="submit" id="filter-btn"><img src="../photos/search.png" alt="search" width="20" height="20" /></button>
</form>
</div>
<div id="tasks-page">
  
  <div id="new-task">

<form action="/tasks" method="post">
   <label for="task">Add New Task</label>
  <input type="text" name="task" id="task" placeholder="write task here.."/>

  <label for="date"></label>
  <input type="date" name="date" id="date" />

  <label for="time"></label>
  <input type="time" name="time" id="time" />


  <button type="submit"><img src="../photos/add.png" alt="search" width="20" height="20" /></button>
</form>
</div>

<ul>
  <% tasks.forEach(task=> { %>

    <div id="edit-form">
  <li>
    <form action="/tasks/<%= task._id %>?_method=PUT" method="post" id="add-form">
      <input type="checkbox" name="isDone" id="isDone" <% if (task.isDone) { %>
        checked
        <% } %> /> 
      <label for="date"></label>
      <input type="date" name="date" id="date" value="<%= task.date %>" />

      <label for="time"></label>
      <input type="time" name="time" id="time" value="<%= task.time %>" />

      <label for="task"></label>
      <input type="text" name="task" id="task" value="<%= task.task %>" />

      <label for="isDone"></label>

      <button type="submit"><img src="../photos/update.png" alt="search" width="20" height="20" /></button>
    </form>
  

    <form action="/tasks/<%= task._id %>?_method=DELETE" method="post">
      <button type="submit"><img src="../photos/delete.png" alt="search" width="25" height="25" /></button>
    </form>
    </div>
  </li>
  <%})%>
</ul>
</div>